@charset "utf-8";
@media screen, projection {
    html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-weight: inherit;
        font-style: inherit;
        font-size: 100%;
        font-family: inherit;
        vertical-align: baseline
    }

    :focus {
        outline: 0
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
        color: #000;
        margin: 0;
        padding: 0
    }

    ol, ul {
        list-style: none
    }

    table {
        border-collapse: separate;
        border-spacing: 0
    }

    caption, th, td {
        text-align: left;
        font-weight: normal
    }

    body {
        margin: 0;
        padding: 0;
        background: #eee
    }

    img {
        border: none !important
    }

    blockquote {
        border-bottom: 1px solid #999;
        margin: 0 0 40px 0
    }

    .clearfloat {
        clear: both;
        height: 0;
        line-height: 0;
        font-size: 0;
        display: block
    }

    .clearfix:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0
    }

    .clearfix {
        display: inline-block
    }

    html[xmlns] .clearfix {
        display: block
    }

    * html
    .clearfix {
        height: 1%
    }

    textarea {
        height: 80px;
        width: 250px;
        padding: 4px 3px 2px 3px;
        border: 1px solid #ccc
    }

    input[type='text'] {
        margin: 0 0 5px;
        padding: 3px;
        border: 1px solid #ccc
    }

    input [type='submit'] {
        margin: 2px 0 0 3px;
        padding: 0;
        background-color: #eee;
        height: 30px;
        width: 80px;
        border: 1px solid #ccc;
        display: block;
        color: #666
    }
}

h1 {
    font-size: 51px;
    color: #222;
    line-height: 1.0em;
    padding: 20px 0 20px 0;
    margin: 0
}

h2 {
    font-size: 22px;
    color: #222;
    line-height: 1.5em;
    font-weight: normal;
    margin: 0
}

h3 {
    font-size: 18px;
    color: #444;
    line-height: 1.5em;
    padding: 30px 0 0 0;
    margin: 0
}

ul {
    padding: 0 0 0 10px
}

ul
li {
    list-style: none
}

p {
    color: #666;
    line-height: 1.5em;
    margin: 8px 0;
    font-size: 1em
}

#outer {
    margin: 0;
    padding: 0;
    width: 100%;
    background: #eee
}

@media(max-width: 1200px){
    #page #full .content .boxy {
        width: 255px;
        break-after: always;
    }
}

#header {
    margin: 0;
    padding: 0
}

#header
.content {
    margin: 0;
    padding: 0;
    font-size: 1em
}

#header .content #full
.left {
    width: 280px;
    float: left;
    padding: 20px 30px;
    text-align: left
}

#page {
    margin: 10px 0;
    padding: 20px;
    clear: both;
    font-size: 0.8em
}

#page #full .content a:link,
#page #full .content a:active,
#page #full .content a:visited {
    color: #06c
}

#page #full .content a:hover {
    color: #06f;
    text-decoration: underline
}

#page #full .content .boxy {
    border-collapse: separate;
    border-spacing: 0;
    border: solid #000 0px;
    float: left;
    height: 300px;
    margin-right: 10px;
    padding: 20px;
    text-align: center;
    width: 255px;
}
#page #full .content .boxy:last-of-type{
    margin: 0;
}

#footer {
    margin: 0;
    padding: 0 15px 20px 15px;
    clear: both;
    font-size: 0.8em
}

#footer
.content {
    margin: 0;
    padding: 0 10px;
}

#footer .content
.left {
    width: 200px;
    float: left;
    margin: 0;
    padding: 20px 0 0 0
}

#footer .content
p {
    margin: 0;
    padding: 0
}

#footer .content
ul {
    display: block;
    float: left;
    margin: 0;
    padding: 0
}

#footer .content
li {
    padding: 0 0 0 10px
}

#footer .content li a:link,
#footer .content li a:active,
#footer .content li a:visited {
    color: #666;
    text-decoration: none
}

#footer .content li a:hover {
    color: #06c;
    text-decoration: underline
}

#companyaddress {
    color: #666;
    padding-top: 20px
}

ol#controls {
    margin: 0;
    float: right
}

ol#controls
li {
    display: block;
    display: inline;
    width: 22px;
    padding: 0 2px;
    font-size: 10px;
    color: #f00
}

ol#controls li
a {
    color: #ccc
}


